/* == VARIABLES === */

:root {
    /* Fonts */
    --font-sm: 0.75rem;
    --font-base: 1rem;
    --font-md: 1.25rem;
    --font-lg: 1.5rem;
    --font-xl: 1.75rem;
    --font-2xl: 2.5rem;

    /* Colors */
    --color-primary: #FAFAFA;
    --color-secondary: #ccc;
    --color-bg-primary: #121212;
    --color-bg-secondary: #1c1c1c;
    --color-links: darkcyan;
    --color-links-hover: lightblue;
    --color-bg-third: grey;
    --color-border: #333;

    /* Spacing */
    --spacing-xs: 0.25rem;
    --spacing-sm: 0.5rem;
    --spacing-base: 1rem;
    --spacing-lg: 2rem;
}

/* === SEMANTICS === */

body {
    margin: 0;
    font-family: "Noto Sans", sans-serif;
    font-size: var(--font-base);
    background-color: var(--color-bg-primary);
    color: var(--color-primary);
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

main {
    flex: 1; 
    padding: 0 var(--spacing-base);
    margin: 0 auto;
}

header,
.intro,
.projects,
.about,
.contacts,
.bio {
    margin-bottom: var(--spacing-lg);
}

a {
    color: var(--color-links);
}

a:hover,
a:focus {
    color: var(--color-links-hover);
}

h1 {
    font-size: var(--font-2xl);
    margin: 0 auto;
    line-height: 2.5rem;
}

h2 {
    font-size: var(--font-xl);
    text-decoration: underline;
    text-decoration-color: var(--color-border);
    text-underline-offset: 10px;
}

h3 {
    font-size: var(--font-lg);
    font-weight: bold;
    margin: var(--spacing-sm) 0;
}

@media (min-width: 768px) {
    main {
        padding: 0 var(--spacing-lg);
    }
}

    /* max-width: min(1400px, 90vw); */


/* === NAVBAR === */

#menu-icon {
    font-size: var(--font-xl);
    cursor: pointer;
    padding: var(--spacing-base);
    margin: 0;
}

#navbar-links {
    display: none;
}

.navbar {
    border-bottom: 1px solid var(--color-border);
}

.navbar a {
    text-decoration: none;
    font-size: var(--font-md);
    font-weight: bold;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar li {
    padding: var(--spacing-sm) var(--spacing-base);
}

.navbar ul .nav-link:hover,
.navbar ul .nav-link.active,
.navbar ul .nav-link:focus {
    background-color: var(--color-bg-third);
}

.navbar ul .nav-link:hover a,
.navbar ul .nav-link.active a,
.navbar ul .nav-link:focus a {
    color: var(--color-primary);
}

@media (min-width: 768px) {
    #menu-icon {
        display: none;
    }

    .navbar {
        margin-bottom: var(--spacing-base);
    }

    #navbar-links {
        display: block;
    }

    .navbar ul {
        display: flex;
        justify-content: flex-end;
    }

    .navbar li {
        padding: var(--spacing-base) var(--spacing-lg);
    }
}

/* === ICONS ===  */

.tech-icons {
    margin: var(--spacing-base) 0;
}

.fa-brands, 
.fa-regular {
    font-size: var(--font-md);
}

.fa-brands, 
.fa-regular, 
.netlify {
    padding: 0 var(--spacing-xs) 0 0;
}

.fa-html5 {
    color: #e34c26;
}

.fa-css3-alt {
    color: #264de4;
}

.fa-js {
    color: #f0db4f;
}

.fa-github, 
.fa-linkedin-in, 
.fa-envelope {
    color: white;
}

.netlify {
    height: 1.15rem;
    padding-left: var(--spacing-xs)
}

/* === TAGS === */

.tags {
    padding: var(--spacing-xs) var(--spacing-xs) var(--spacing-xs) 0;
}

.tag {
    font-size: var(--font-base);
    background-color: var(--color-bg-third);
    padding: var(--spacing-xs) var(--spacing-sm);
    margin: 0 var(--spacing-xs) var(--spacing-sm);
    border-radius: 0.5rem;
    display: inline-block;
}

/* === HEADER === */

header {
    text-align: center;
    padding: var(--spacing-base);
    border-bottom: 1px solid var(--color-border);
}

header p {
    font-size: var(--font-lg);
    margin: var(--spacing-base) auto;
}

.intro {
    padding: var(--spacing-base);
}

.intro p {
    font-size: var(--font-md);
    font-style: italic;
    font-weight: 500;
    line-height: 1.75rem;
    color: var(--color-secondary);
    text-align: center;
    margin: 0;
}

/* === PROJECTS === */

.project {
    background-color: var(--color-bg-secondary);
    padding: var(--spacing-base);
    margin: var(--spacing-base) 0;
    border-radius: 0.75rem;
    transition: transform 0.3s ease;
}

.project:hover {
    background-color: #282828;
    transition: background-color 0.3s ease;
    transform: scale(1.01);
    cursor: pointer;
}

.screenshot {
    width: 100%;
    height: auto;
    border-radius: var(--spacing-sm);
}

@media (min-width: 768px) {
    .projects {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
        gap: 2rem;
        justify-content: center;
    }

    .project {
        margin: 0;
    }

    .project:hover {
    transform: scale(1.02);
}
}

/* === MODAL === */

.modal-background {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, display 0.3s ease;
    z-index: 1000;
}

.modal-background.active {
    opacity: 1;
    visibility: visible;
}

.modal {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    max-height: 75vh;
    background: var(--color-bg-secondary);
    border-radius: 0.75rem;
    transform: translateY(100%);
    transition: transform 0.3s ease;
    overflow-y: auto;
    z-index: 1001;
}

.modal.active {
    transform: translateY(0);
}

.modal,
.modal-background {
    pointer-events: none;
}

.modal.active,
.modal-background.active {
    pointer-events: auto;
}

.modal-drag-handle {
    display: block;
    width: 40px;
    height: 5px;
    background: var(--color-primary);
    border-radius: 2px;
    margin: 0 auto;
    cursor: pointer;
    transition: all 0.2s ease;
}

.modal-drag-handle:hover {
    background: var(--color-links);
    height: 6px;
}

.modal-drag-handle:active {
    transform: scaleY(0.8);
}

.close-modal-btn-container{
    display: none;
}

.project-modal {
    padding: var(--spacing-lg);
    font-size: var(--font-base);
}

.project-modal .screenshot {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    max-width: 600px;
    display: block;
    margin: 0 auto;
}

.project-modal .screenshot:hover {
    transform: scale(1.03);
    box-shadow: 0 4px 15px #383838;
}

.project-modal .project-title {
    text-decoration: none;
    color: var(--color-primary);
}

.project-modal .project-title a:hover,
.project-modal .project-title a:focus {
    color: lightblue;
}

.links {
    font-weight: bold;
}

@media (min-width: 768px) {

    .modal-drag-handle {
        display: none;
    }

    .modal {
        top: 50%;
        left: 50%;
        bottom: auto;
        width: 90%;
        max-width: 700px;
        max-height: 90vh;
        border-radius: 16px;
        transform: translate(-50%, -50%) scale(0.9);
        opacity: 0;
    }
    
    .modal.active {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
    
    .close-modal-btn-container{
        display: block;
        text-align: right;
        /* margin-right: var(--spacing-base); */
    }

    .modal-close-btn {
        font-size: var(--font-md);
        background-color: transparent;
        border: none;
        color: var(--color-bg-third);
        padding: var(--spacing-base) var(--spacing-base) 0 0;
    }

    .modal-close-btn:hover,
    .modal-close-btn:active {
        color: darkcyan;
        cursor: pointer;
    }

    .modal-close-btn:active {
        transform: scale(0.95);
    }

    .project-modal {
        padding: var(--spacing-base) var(--spacing-lg);
        font-size: var(--font-md);
    }

    .project-modal h3 {
        margin: var(--spacing-base) 0;
    }

}

/* === FOOTER === */

footer {
    border-top: 1px solid var(--color-border);
    padding: 0 var(--spacing-base) var(--spacing-base) var(--spacing-base);
    margin-top: var(--spacing-lg);
}

footer p {
    text-align: center;
    font-size: var(--font-sm);
    margin: var(--spacing-base) auto;
}

/* === ABOUT PAGE === */

.bio {
    font-size: var(--font-md);
    padding: var(--spacing-base);
}

.profile-pic {
    width: 80vw;
    display: block;
    margin: 0 auto;
    max-width: 500px;
}

@media (min-width: 768px) {
    .about-page main {
        max-width: 1200px;
    }

    .about-page header {
        padding: var(--spacing-lg);
    }

    .about-header {
        margin-bottom: var(--spacing-base);
    }
    
    .about {
        display: flex;
    }

        .bio {
        padding: 0 var(--spacing-base) 0 0;
    }

    .profile-pic {
        max-height: 250px;
        max-width: 250px;
        padding: var(--spacing-lg);
    }
}

/* === CONTACT PAGE === */

.contacts {
    line-height: 2rem;
    font-size: var(--font-md);
}

.contacts ul  {
    list-style-type: none;
    padding: 0;
}

.contacts a {
    font-weight: bold;
}

@media (min-width: 768px) {

    .contact-page header {
        padding: var(--spacing-lg);
    }

    .contact-header {
        margin-bottom: var(--spacing-base);
    }

}