body {
    margin: 0;
    font-family: "Noto Sans", sans-serif;
    font-size: 1rem;
    background-color: #121212;
    color: #FAFAFA;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
}

main {
    /* max-width: min(1400px, 90vw); */
    margin: 0 auto;
    flex: 1; 
    padding: 0 1rem;
}

/* NAVBAR */

.fa-bars {
    font-size: 1.75rem;
    cursor: pointer;
    padding: 1rem;
    margin: 0;
}

#navbar-links {
    display: none;
}

.navbar {
    border-bottom: 1px solid #333;
}

.navbar a {
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar li {
    padding: 0.5rem 1rem;
}

.navbar ul .nav-link:hover,
.navbar ul .nav-link.active,
.navbar ul .nav-link:focus {
    background-color: grey;
}

.navbar ul .nav-link:hover a,
.navbar ul .nav-link.active a,
.navbar ul .nav-link:focus a {
    color:#FAFAFA;
}

/* Header */

header {
    text-align: center;
    padding: 1rem;
    border-bottom: 1px solid #333;
}

h1 {
    font-size: 2.5rem;
    margin: 0 auto;
    line-height: 2.5rem;
}

header p {
    font-size: 1.5rem;
    margin: 1rem auto;
}

.intro {
    padding: 1rem;
}

.intro p {
    font-size: 1.25rem;
    font-style: italic;
    font-weight: 500;
    line-height: 1.75rem;
    color: #ccc;
    text-align: center;
    margin: 0;
}

/* ABOUT PAGE */

.bio {
    font-size: 1.25rem;
    padding: 1rem;
}

.profile-pic {
    width: 80vw;
    display: block;
    margin: 0 auto;
}

/* CONTACT PAGE */

.contacts {
    line-height: 2rem;
    font-size: 1.25em;
}

.contacts ul  {
    list-style-type: none;
    padding: 0;
}

.contacts a {
    font-weight: bold;
}

/* PROJECTS */

h2{
    text-decoration: underline;
    text-decoration-color: #333;
    text-underline-offset: 10px;
}

/* .projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    gap: 2.5rem;
    justify-content: center;
    max-width: 1200px;
} */

.project {
    background-color: #1c1c1c;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 0.75rem;
    /* transition: transform 0.3s ease; */
}

/* .project:hover {
    background-color: #282828;
    transition: background-color 0.3s ease;
    transform: scale(1.03);
    cursor: pointer;
} */

.screenshot {
    width: 100%;
    height: auto;
    /* max-width: 600px; */
    /* object-fit: contain; */
    border-radius: 0.5rem;
}

.project-title {
    font-size: 1.25rem;
    font-weight: 600;
}

a {
    color: darkcyan;
    font-weight: 600;
}

a:hover,
a:focus {
    color: lightblue;
}

.tech-icons {
    margin-bottom: 0.5rem;
}

.tags {
    padding: 0.25rem 0.25rem 0.25rem 0;
}

.fa-brands, 
.fa-regular {
    font-size: 1.25rem;
}

.fa-brands, 
.fa-regular, 
.netlify {
    padding: 0 0.25rem 0 0;
}

.fa-html5 {
    color: #e34c26;
}

.fa-css3-alt {
    color: #264de4;
}

.fa-js {
    color: #f0db4f;
}

.fa-github, 
.fa-linkedin-in, 
.fa-envelope {
    color: white;
}

.netlify {
    height: 1.15rem;
    padding-left: 0.25rem;
}

.tag {
    background-color: grey;
    padding: 0.25rem 0.5rem;
    margin: 0.25rem;
    border-radius: 0.5rem;
    display: inline-block;
}

/* MODAL  */

.modal-background {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, display 0.3s ease;
    z-index: 1000;
}

.modal-background.active {
    opacity: 1;
    visibility: visible;
}

.modal {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    max-height: 85vh;
    background: #1c1c1c;
    border-radius: 0.75rem;
    transform: translateY(100%);
    transition: transform 0.3s ease;
    overflow-y: auto;
    z-index: 1001;
}

.modal.active {
    transform: translateY(0);
}

.modal::before {
    content: '';
    display: block;
    width: 40px;
    height: 4px;
    background: #FAFAFA;
    border-radius: 2px;
    margin: 0 auto 1rem;
}

.close-modal-btn-container{
    text-align: right;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
}

.modal-close-btn {
    font-size: 22px;
    background-color: transparent;
    border: none;
    color: #FAFAFA;
    padding: 0;
}

.modal-close-btn:hover,
.modal-close-btn:active {
    color: darkcyan;
    cursor: pointer;
}

.modal-close-btn:active {
    transform: scale(0.95);
}

.project-modal {
    padding: 0.75rem 2rem 2rem 2rem;
    font-size: 1.25rem;
}

.project-modal .screenshot {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-modal .screenshot:hover {
    transform: scale(1.03);
    box-shadow: 0 4px 15px #383838;
}

.project-modal .project-title {
    font-size: 1.5rem;
    font-weight: 900;
    text-decoration: none;
    color: #FAFAFA;
}

.project-modal .project-title a:hover,
.project-modal .project-title a:focus {
    color: lightblue;
}

.project-modal .tech-icons {
    margin: 1rem 0.5rem 0.5rem 0;
}

.project-modal .tags {
    padding: 0.25rem 0.25rem 0.25rem 0;
}
.project-modal .fa-brands, 
.project-modal .fa-regular {
    font-size: 1.25rem;
}

.project-modal .fa-brands, 
.project-modal .fa-regular, 
.project-modal .netlify {
    padding: 0 0.25rem 0 0;
}

.project-modal .netlify {
    height: 1.15rem;
    padding-left: 0.25rem;
}

.project-modal .tag {
    font-size: 1rem;
    background-color: grey;
    color: #FAFAFA;
    padding: 0.25rem 0.5rem;
    margin: 0.25rem;
    border-radius: 0.5rem;
    display: inline-block;
}

/* FOOTER */

footer {
    border-top: 1px solid #333;
    padding: 0 1rem 1rem 1rem;
    margin-top: 1rem;
}

footer p {
    text-align: center;
    font-size: 0.75rem;
    margin: 1rem auto;
}