body {
    margin: 0;
    font-family: "Noto Sans", sans-serif;
    font-size: 1rem;
    background-color: #121212;
    color: #FAFAFA;
}

header {
    text-align: center;
    padding: 1 rem;
    border-bottom: 1px solid #333;
    margin-bottom: 3rem;
}

h1 {
    font-size: 3rem;
}

h2{
    padding-bottom: 2rem;
}

header p {
    font-size: 1.25rem;
}

main {
    max-width: 1000px;
    margin: 2rem auto;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(26rem, 1fr));
    gap: 2.5rem;
}

.project {
    width: 22rem;
    background-color: #1c1c1c;
    padding: 2rem;
    border-radius: 0.75rem;
}

.project .github {
    margin-left: 0;
}

.screenshot {
    width: 22rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.screenshot:hover {
    transform: scale(1.03);
    box-shadow: 0 4px 15px #383838;
}

a {
    color: darkcyan;
}

a:hover {
    color: lightblue;
}



.icon {
    height: 1.25rem;
    margin: 0 0.25rem;
}

.tech {
    font-style: italic;
    margin-bottom:0;
}

footer {
    border-top: 1px solid #333;
    padding: 1rem;
    margin-top: 5rem;
}

footer p {
    text-align: center;
    font-size: 0.75rem;
    margin: 0.5rem auto;
}

footer .icon {
    height: 1rem;
    margin: 0 0.25rem;
}

footer .email {
    height: 0.75rem;
}